<h1>Сайт с Embedded Youtube video</h1>
<div class="row">
  <iframe width="560" height="315" src="//www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
<iframe width="560" height="315" src="//www.youtube.com/embed/7tTfL-DtpXk" frameborder="0" allowfullscreen></iframe>
</div>